.form-size{
	max-width: 640px;
	margin: 0 auto;
	background-color: #e9e9e9;
	padding: 20px 30px;
	border: 1px solid #d5d5d5;
	border-radius: 5px;
}

body {
    margin-top: 50px;
}

.carousal_edit {
    padding-left: 0;
    padding-right: 0;
}

.carousel-inner {
    height: 650px;
    !important
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}

.carousel-caption h1 {
    font-size: 400%;
}

#new_user {
    color: #FFFFFF;
    background-color: #006064;
    /*#33691E;*/
}

#new_user:hover {
    background-color: #00838F;
    /*#AEEA00;*/
}

#old_user {
    color: #FFFFFF;
    background-color: #E65100;
    /*#33691E;*/
}

#old_user:hover {
    background-color: #EF6C00;
    /*#AEEA00;*/
}

#css_shadow {
    text-shadow: 0 0 100px #000000;
}

.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 10px 0;
    text-align: center;
    color: #616161;
}

.fot {
    position: absolute;
    bottom: 0;
}

#con {
    font-size: 250%;
}

#map {
    height: 400px;
    width: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption p,
section h3.section-subheading {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic
}

section {
    padding: 100px 0
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}

#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    font-size: 28px;
    margin: 0
}

#portfolio * {
    z-index: 2
}

.bg-light-gray {
    background-color: #CFD8DC;
}
