<!DOCTYPE html>
<html>

<head>
    <title>TA | Hotels</title>
    <link rel="shortcut icon" type="img/png" href="{{ url_for('static', filename='img/travel_logo.png') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('home') }}" class="navbar-brand">
            <img src="{{ url_for('static', filename='img/travel_logo.png') }}" alt="Brand" height="20" width="20">
          </a>
                <a class="navbar-brand" href="{{ url_for('home') }}">Travel Advisor</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('hotels.index') }}">Hotels</a></li>
                    <li><a href="{{ url_for('flights.index') }}">Flights</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('users.contact_us') }}">Contact</a></li>
                    {% if session['email'] %}
                    <li><a href="{{ url_for('users.user_dashboard') }}" id="dashboard"><span class="glyphicon glyphicon-tasks"></span>  Dashboard</a></li>
                    <li><a href="{{ url_for('users.logout_user') }}"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('users.register_user') }}" id="new_user">Register</a></li>
                    <li><a href="{{ url_for('users.login_user') }}" id="old_user">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="page-header">
        <h1>Create Hotel</h1>
    </div>
    <div class="form-size">
        <form method="post">
            <div class="form-group">
                <label for="name">Hotel name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Hotel Name" required autofocus>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea rows="3" class="form-control" id="address" name="address" placeholder="Address" required></textarea>
            </div>
            <div class="form-group">
                <label for="ph_no">Phone number</label>
                <input type="text" name="ph_no" id="ph_no" class="form-control" placeholder="Phone number" maxlength="10" required>
            </div>
            <div class="form-group">
                <label for="card_no">Card number</label>
                <input type="text" name="card_no" id="card_no" class="form-control" placeholder="Card number" maxlength="16" required>
            </div>
            <div class="form-group">
                <label for="total_rooms">Total Rooms</label>
                <input type="text" name="total_rooms" id="total_rooms" class="form-control" placeholder="Total Rooms" required>
            </div>
            <div class="form-group">
                <label for="rooms_booked">Rooms Booked</label>
                <input type="text" name="rooms_booked" id="rooms_booked" class="form-control" placeholder="Rooms Booked" required>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" name="price" id="price" class="form-control" placeholder="Price" required>
            </div>
            <button type="submit" class="btn btn-default">Create</button>
        </form>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Travel Advisor &copy; 2017</p>
        </div>
    </footer>
    <script type="text/javascript">
    var password = document.getElementById("password"),
        confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Do not Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
    </script>
</body>

</html>