<!DOCTYPE html>
<html>

<head>
    <title>TA | Flights</title>
    <link rel="shortcut icon" type="img/png" href="{{ url_for('static', filename='img/travel_logo.png') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('home') }}" class="navbar-brand">
            <img src="{{ url_for('static', filename='img/travel_logo.png') }}" alt="Brand" height="20" width="20">
          </a>
                <a class="navbar-brand" href="{{ url_for('home') }}">Travel Advisor</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('hotels.index') }}">Hotels</a></li>
                    <li><a href="{{ url_for('flights.index') }}">Flights</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('users.contact_us') }}">Contact</a></li>
                    {% if session['email'] %}
                    <li><a href="{{ url_for('users.user_dashboard') }}" id="dashboard"><span class="glyphicon glyphicon-tasks"></span>  Dashboard</a></li>
                    <li><a href="{{ url_for('users.logout_user') }}"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('users.register_user') }}" id="new_user">Register</a></li>
                    <li><a href="{{ url_for('users.login_user') }}" id="old_user">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="page-header">
        <h1>Edit Flight</h1>
    </div>
    <div class="form-size">
        <form method="post">
            <div class="form-group">
                <label for="plane_no">Flight number</label>
                <input type="text" name="plane_no" id="plane_no" class="form-control" placeholder="Flight number" value="{{ flight.plane_no }}">
            </div>
            <div class="form-group">
                <label for="source">Source</label>
                <input type="text" name="source" id="source" class="form-control" placeholder="Source" value="{{ flight.source }}">
            </div>
            <div class="form-group">
                <label for="destination">Destination</label>
                <input type="text" name="destination" id="destination" class="form-control" placeholder="Destination" value="{{ flight.destination}}">
            </div>
            <div class="form-group">
                <label for="address">Flight Timing</label>
                <input type="text" name="plane_timing" id="plane_timing" class="form-control" placeholder="Flight Timing" value="{{ flight.plane_timing}}">
            </div>
            <div class="form-group">
                <label for="total_seats">Total Seats</label>
                <input type="text" name="total_seats" id="total_seats" class="form-control" placeholder="Total Seats" value="{{ flight.total_seats}}">
            </div>
            <div class="form-group">
                <label for="seats_booked">Seats Booked</label>
                <input type="text" name="seats_booked" id="seats_booked" class="form-control" placeholder="Seats Booked" value="{{ flight.seats_booked}}">
            </div>
            <div class="form-group">
                <label for="price">Cost</label>
                <input type="text" name="price" id="price" class="form-control" placeholder="Cost" value="{{ flight.price}}">
            </div>
            <button type="submit" class="btn btn-warning">Update</button>
        </form>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Travel Advisor &copy; 2017</p>
        </div>
    </footer>
</body>

</html>
